{% extends 'layouts/master.html' %}

{% block title %}Blog de CodiGO{% endblock %}

{% block body %}
  {% for post in blog %}
    <div class="row" style="padding-bottom:30px;">
      <div class="col-sm-4 col-sm-offset-1">
          <a href="{{ url_for('index') }}">
            <img src="{{ url_for('static', filename=post.3) }}" class="img-responsive img-rounded img-thumbnail" alt="{{ post.1 }}" style="height:250px;width:300px; padding:30px">
          </a>
      </div>
      <div class="col-sm-6">
          <h4><a href="{{ url_for('index') }}"><strong>{{ post.1 }}</strong></a></h4>
          <p>{{  post.2  }}</p>
      </div>
    </div>
  {% endfor %}
{% endblock %}